.kola-input {
    --background: #F6F6F6;
    --color: #74787C;
    --border-color: #E7E6E6;
    --highlight-color-focused: #74787c;
    --border-radius: 8px;

    &:not(.has-focus):not(.input-label-placement-stacked) {
        .label-text-wrapper {
            bottom: 2.5em;
        }
    }
}


.search-input {
    --border: none;
    --border-radius: 10px;
    --box-shadow: 0px 4px 24px 0px #000B2B12;
    font-size: 0.9em;

    &::placeholder {
        font-size: 0.9em;
    }
}
