body {
  background-color: var(--ion-background-color);
}

ion-page,
.ion-page {
  background-color: var(--ion-background-color, #fefefe);
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.fw-bold {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.justify-content-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.ellipsis {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

ion-card {
  box-shadow: 0px 2px 12px #68686f14;
  border: solid 1px #f1f1f1;
  border-radius: 8px;
}

.app-toast {
  --border-radius: 16px;
  --border-style: solid;
  --border-width: 1px;
  --box-shadow: 0px 2px 12px #68686f14;
  font-size: 0.85em;
}

.toast-success {
  --background: #c1fcd2;
  --border-color: #0398554d;
  --border-width: 1px;
  --border-style: solid;
  --color: #111;

  &::part(icon) {
    padding: 4px;
    border-radius: 50%;
    background-color: #a9f1be;
    color: #039855;
  }
}

.toast-error {
  --background: #fdf0ed;
  --border-color: #ef3e3233;
  --color: #111;

  &::part(icon) {
    padding: 4px;
    border-radius: 50%;
    background-color: #fa2b3928;
    color: #d92d20;
  }
}

.toast-info {
  --background: #b6deff;
  --border-color: #44b1ec;
  --color: #111;

  &::part(icon) {
    padding: 4px;
    border-radius: 50%;
    background-color: #2b9dfa28;
    color: #2073d9;
  }
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}

ion-tabs {
  ion-tab-bar {
    background-color: #ffffff;
    border: none;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.12);

    ion-tab-button {

      img.active,
      ion-icon.active {
        display: none;
      }

      ion-label {
        color: #003366;
      }

      &.tab-selected {

        img.active,
        ion-icon.active {
          display: block;
          color: #369;
        }

        img:not(.active),
        ion-icon:not(.active) {
          display: none;
        }

        ion-label {
          font-weight: 500;
        }
      }

      &.has-badge {
        position: relative;

        ion-badge {
          --background: #003366;
          position: absolute;
          font-size: 0.7em;
          top: 5px;
          right: 5px;
        }

        &.small {
          ion-badge {
            font-size: 0.2em;
            top: 8px;
            right: 10px;
            width: 6px;
            height: 7px;
            animation: pulse 1.5s infinite;
          }
        }
      }
    }
  }
}

// ion-content {
//     --background: #FEFEFE;
// }

ion-segment {
  ion-segment-button {
    font-size: 13px !important;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    line-height: 20px;
    font-weight: 400;
  }
}
