body {
  background-color: var(--ion-background-color);
}
body.platform-ios.platform-cordova.platform-webview {
  text-rendering: auto !important;
}

ion-page, .ion-page {
  background-color: var(--ion-background-color, #FEFEFE);
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: bolder;
}

.fw-semibold {
  font-weight: 600;
}
.justify-content-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.ellipsis {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

ion-card {
  box-shadow: 0px 2px 12px #68686f14;
  border: solid 1px #f1f1f1;
  border-radius: 8px;
}

.app-toast {
  --border-radius: 16px;
  --border-style: solid;
  --border-width: 1px;
  --box-shadow: 0px 2px 12px #68686f14;
  --color: #111;
  font-size: 0.85em;
}

.toast-success {
  --background: #c1fcd2;
  --border-color: #0398554d;
  --border-width: 1px;
  --border-style: solid;

  &::part(icon) {
    padding: 4px;
    border-radius: 50%;
    background-color: #a9f1be;
    color: #039855;
  }
}

.toast-error {
  --background: #fdf0ed;
  --border-color: #ef3e3233;

  &::part(icon) {
    padding: 4px;
    border-radius: 50%;
    background-color: #fa2b3928;
    color: #d92d20;
  }
}

.toast-info {
  --background: #b6deff;
  --border-color: #44b1ec;

  &::part(icon) {
    padding: 4px;
    border-radius: 50%;
    background-color: #2b9dfa28;
    color: #2073d9;
  }
}

ion-tabs {
  ion-tab-bar {
    background-color: #ffffff;
    border: none;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.12);

    ion-tab-button {
      img.active,
      ion-icon.active {
        display: none;
      }

      ion-label {
        color: #003366;
      }

      &.tab-selected {
        img.active,
        ion-icon.active {
          display: block;
          color: #369;
        }

        img:not(.active),
        ion-icon:not(.active) {
          display: none;
        }

        ion-label {
          font-weight: bold;
        }
      }
    }
  }
}

// ion-content {
//     --background: #FEFEFE;
// }
