
// Base Colors
$kola-blue: #003366;
$kola-text: #667085;
$kola-light-pink: #f9f5ff;
$kola-purple: #6941c6;
$kola-light-green: #ecfdf3;
$kola-green: #027a48;
$kola-light-red: #fff6ed;
$kola-red: #f63838;
$kola-gray-100: #F9F9FB;
$kola-gray-150: #f8fafb;
$kola-gray-200: #F5F8FA;
$kola-gray-300: #D5D8DC;
$kola-gray-500: #586172;
$kola-yellow: #F5AA29;

$kola-dark: #212529;
$kola-tab-active-link: #f5aa29;

// Cards
$card-border-color: #eff0f6;

// Form Controls
$input-border-color: #d0d5dd;

// Table
$table-thead-bg-color: #fcfcfd;
$table-text-color: $kola-gray-500;
$table-hover-bg-color: #f9fafb;

// Layout Variables
$nav-menu-link-color: #787486;
$nav-menu-item-active-bg: #e9eef2;
$nav-menu-item-active-link-color: #003366;
$nav-menu-item-active-highlight: #f2c94c;

$header-separator-border-color: #d6d8e6;
